[Unit]
Description=ZRAM swap service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/zramswap start
ExecStop=/usr/bin/zramswap stop 

[Install]
WantedBy=multi-user.target
